a#bandmember img.person {
    border: 10px solid transparent;
    border-radius: 50%;
    width: 80%;
    height: 80%;
    opacity: 0.7;
    filter: grayscale(90%); /* make all photos black and white */
    margin: auto;
}

a#bandmember img.person:hover {
    border-color: #f1f1f1;
}

.ReactCollapse--collapse {
    max-width: 800px;
    border: 1px solid rgba(3, 169, 244, 0.3);
    border-radius: 10px;
    background-color: rgba(100, 255, 100, 0.1);
}

.ReactCollapse--content {
}

.ReactCollapse--collapse {
    border: none;
    background-color: white;
}

