.books_container {
    padding-top: 160px;
}

.bg-2 {
    padding: 10px 12px;
    background: #2d2d30;
    color: #bdbdbd;
}

.bg-2 h3 {
    color: #fff;
}

.bg-2 p {
    font-style: italic;
}


.bg-2 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.booktext {
    font-size: 40px;
}

.bookimg {
    horizontal-align: center;
}