/*navbar items*/
nav#band-navbar.band-navbar {
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 11px;
    letter-spacing: 4px;
    opacity: 0.9;
    border-radius: 0;
    z-index: 9999;
    margin-right: 0px;
}

/*search btn*/
.band-search-btn.btn {
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    opacity: 0.9;
    margin-right: 0px;
}

/*search input*/
.band-search-input.form-control {
    margin-bottom: 0;
    color: #777777;
    background-color: white;
    border: 0;
    font-size: 11px;
    letter-spacing: 2px;
    opacity: 0.9;
    border-radius: 0;
    margin-right: 0px;
}

.band-search-input.form-control:hover, .band-search-input.form-control:focus {
    color: black;
    border: 1px solid #333;
}

.band-search-input.form-control:active {
    color: #d5d5d5;
    background-color: #2d2d30;
}

/* Dropdown */
 .open .dropdown-toggle {
     margin-bottom: 0;
     background-color: #2d2d30;
     border: 0;
     font-size: 11px;
     letter-spacing: 4px;
     opacity: 0.9;
     border-radius: 0;
     z-index: 9999;
     margin-right: 0px;
 }

/* Dropdown links */
.dropdown-menu li{

}

/* Dropdown links */
 .dropdown-menu li a {
     background-color: #e5e5e5;
     font-size: 11px;
     letter-spacing: 2px;
     opacity: 0.9;
 }

/* On hover, the dropdown links will turn red */
.dropdown-menu li a:hover {
    background-color:#777777;
    color: white ;
 }
