.video_container {
    padding-top: 160px;
    margin-top: 80px;
    height:600px;
}

.player-wrapper {
    position: relative;
    padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
    bottom: 40px;
    border-color: grey;
    border-width: 1px;
    border-style: solid;
}

.react-player {
    position: absolute;
    top: 0;
    left: 0;
}

