.App {
    text-align: center;
}

.App-logo {
    /*animation: App-logo-spin infinite 20s linear;*/
    height: 50px;
}

.App-header {
    /*background-color: #333333;*/
    /*background-image: url("header_background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;*/
    /*padding: 20px;
    color: white;*/
}

.App-body {
    /*background-color: #333333;*/
    background-image: url("background_all_sw.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 20px;
    color: white;
}

.App-title {
    font-family: "Times New Roman", Times, serif;
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: center;
    background: linear-gradient(dimgray, black) ;
    color: white;
    }

.flex-container > * {
    padding: 15px;
    -webkit-flex: 1 100%;
    flex: 1 100%;

}

.article {
    /*background-image: url("background_all_sw.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;*/
    padding: 20px;
/*    text-align: left;*/
}

.centralimg {
    /*background-image: url("background_all_sw.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;*/
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #000000;
}

header {
    background: black;
    background-image: url("header_background.jpg");
    color: white;
}

footer {
    background: #aaa;
    color: white;
}

.nav {
    /*float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;*/
    background: #aaa;
}

.nav ul {
    list-style-type: none;
    padding: 0;
}

.nav ul a {
    text-decoration: none;
}

@media all and (min-width: 768px) {
    .nav {
        text-align: left;
        -webkit-flex: 1 auto;
        flex: 1 auto;
        -webkit-order: 1;
        order: 1;
    }

    .article {
        -webkit-flex: 5 0px;
        flex: 5 0px;
        -webkit-order: 2;
        order: 2;
    }

    footer {
        -webkit-order: 3;
        order: 3;
    }
}
